@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GroupWebProject.Areas.Identity.Data.AppUser

@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GroupWebProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">The Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AdminDashes" asp-action="Index">AdminDashBoard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
<main>
        <div class="py-5 text-center" style="text-align:center;">
        <h2>User Details</h2>
    </div>

    <div class="row g-5">
            <div class="py-5 text-center" style="text-align:center;">
            @if (Model.Id == Model.Id)
            {
                <h3>User-ID: </h3><h4>@Model.Id</h4>
                <br />
                <h3>First Name: </h3><h4>@Model.FirstName</h4>
                <br />
                <h3>Last Name: </h3><h4>@Model.LastName</h4>
                <br />
                <h3>Email: </h3><h4>@Model.Email</h4>
            }
        </div>
        <h3>Transactions</h3>
        <div class=transaction>
                <p>PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text</p>
                <p>PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text</p>
                <p>PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text</p>
                <p>PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text</p>
                <p>PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text PlaceHolder Text</p>
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        @foreach (var user in Model.Id)
        {

        }
                </div>
                </main>
                </body>