@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GroupWebProject.Areas.Identity.Data.AppUser

@{
}

<main>
    <div class="py-5 text-center">
        <h2>User Details</h2>
    </div>

    <div class="row g-5">
        <div class="col-md-7 col-lg-8" style="text-align:center;">
            @if (Model.Id == Model.Id)
            {
                <h3>User-ID: </h3><h4>@Model.Id</h4>
                <br />
                <h3>First Name: </h3><h4>@Model.FirstName</h4>
                <br />
                <h3>Last Name: </h3><h4>@Model.LastName</h4>
                <br />
                <h3>Email: </h3><h4>@Model.Email</h4>
            }
        </div>
        <h3>Transactions</h3>
        @foreach (var user in Model.Id)
        {

        }
                </div>
                </main>