@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>A Group E-Commerce Project made by <a href="https://github.com/JHobson316">Jordan Hobson</a> & <a href="https://github.com/CurtWal">Curtrick Walton</a></p>
