
@using GroupWebProject
@using GroupWebProject.Models
@using GroupWebProject.Pages.Shared
@model IEnumerable<Category>

    <ul>
        <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">All Products</a>
        </li>
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">@item.Name</a>
        </li>
    }
</ul>
        @foreach (var item in Model)
        {
            <li class="list-group-item">
            <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-CategorySlug="@item.Slug">@item.Name</a>
            </li>
        }
    </ul>